.rss-box {
	border: 0px;
}
.rss-title {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
}
.rss-items {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.rss-item {
	color: #d2d6d1;
	line-height: 14pt;
	font-weight: normal;
	font-size: 10pt;
	margin-bottom: 11px;
	padding-bottom: 9px;
	BACKGROUND: url(http://www.ncwbiblefellowship.com/pics/line.png) #222521 no-repeat bottom center;
}
.rss-item a {
	display: none;
	}
.rss-date {
}
li.f2jnag {
	display:none;
}