BODY {
	margin: 0px;
	BACKGROUND: url(../pics/bodybg.png) #222521 repeat-x 0px 0px;
	font-family: "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	text-align: center;
}
#pagewraper {
	width: 100%;
	word-wrap: break-word;
}
.midwrap {
	width: 860px;
	margin: 0px auto;
	text-align: left;
}
#toplogo {
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
	height: 200px;
	position: relative;
}
#slideshow {
    position:relative;
    height:200px;
	z-index:5;
}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:6;
}
#slideshow IMG.active {
    z-index:8;
}
#slideshow IMG.last-active {
    z-index:7;
}
#menuwraper {
	margin: 0px;
	width: 100%;
	height: 50px;
}
#menuwraper ul {
	margin: 0px;
	padding: 0px;
}
#menuwraper ul  li {
	color: #000000;
	position: relative;
	list-style-type: none;
	display: block;
	float: left;
	text-align: center;
	margin-top: 15px;
	height: 37px;
}
#menuwraper a {
	font: 15pt Georgia, "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #d9718b;
	border: none;
}
.leftpanel {
	float: left;
	width: 600px;
	padding-top: 30px;
	color: #d2d6d1;
	line-height: 14pt;
	font-weight: normal;
	font-size: 10pt;
}
.rightpanel  {
	width: 220px;
	float: right;
	padding-top: 20px;
}
.fullsizepage {
	padding-top: 30px;
	color: #d2d6d1; 
	line-height: 14pt; 
	font-weight: normal; 
	font-size: 10pt;
}
.footerwrap {
	background: url(../pics/tlo.jpg) top repeat-x;
	margin-top: 10px;
	clear: both;
}
.pannel  {
	width: 220px; 
	margin-top: 15px;
}
.pannel P {
	font: 8pt Tahoma, Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: 0.3pt;
	color: #343733;
}
.pannel  P A {
	color: #d9718b;
	border-bottom: #d9718b 1px dotted;
	text-decoration: none;
}
.pannel P A:visited {
	color: #d9718b;
	border-bottom: #d9718b 1px dotted;
	text-decoration: none;
}
.pannel P A:hover {
	color: #d9718b;
	border: none;
	text-decoration: none;
}
.roundtop {
	background: url(../pics/round_top.png) #fff no-repeat left top;
	width: 220px;
}
.roundbottom  {
	background: url(../pics/round_bottom.png) no-repeat left bottom;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.graybox {margin-left: 30px; margin-right: 25px; margin-bottom: 10px;}
.bl {background: url(../pics/bl.png) #424840 left bottom no-repeat} 
.br {background: url(../pics/br.png) right bottom no-repeat} 
.tl {background: url(../pics/tl.png) left top no-repeat} 
.tr {background: url(../pics/tr.png) right top no-repeat; text-align: right;} 
.clear {font-size: 0px; height: 0px}
.graybox B {
	font: 8pt Tahoma, Arial, Verdana, Helvetica, sans-serif;
	line-height: 2.0;
	padding: 7px 12px 7px 21px; 
	letter-spacing: 0.4pt; 
	color: #979c92;  
	margin: 0px;
	cursor: pointer;
	text-align: right;
}
.graybox P {
	font: 8pt Tahoma, Arial, Verdana, Helvetica, sans-serif;
	line-height: 1.6;
	padding: 6px 12px 6px 21px; 
	letter-spacing: 0.4pt; 
	color: #c2ceb9; 
	margin: 0px;
	text-align: left;
}
A {
	color: #d9718b;
	border-bottom: #d9718b 1px dotted;
	text-decoration: none;
}
A:visited {
	color: #d9718b;
	border-bottom: #d9718b 1px dotted;
	text-decoration: none;
}
A:hover {
	color: #d9718b;
	border: none;
	text-decoration: none;
}
IMG {
	border: none;
}
H1 {
	font-size: 17pt;
	font-family: "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #e8aab8;
	margin: 0px;
	padding: 0px;
}
H2 {
	font: 15pt "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #bcd18b;
	padding-left: 15px;
	
}
H3 {
	font: 12pt "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #869f37;
	margin: 0px 0px 0.9pt;
	padding: 0px
}
H5 {
	font: 12pt "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #f7fbc8;
	font-weight: normal;
	margin: 0px 0px 0.9pt;
	padding: 0px;
}
#menu1 {	width: 85px; }
#menu2 {	width: 135px; }
#menu3 {	width: 113px; }
#menu4 {	width: 90px; }
#menu5 {	width: 80px; }
#menu6 {	width: 98px; }
#menu7 {	width: 112px; }
.active {background: url(../pics/activ.gif) bottom center no-repeat;}
#about_tabs {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.roundbottom IMG {
	BORDER: #d0d2ca 1px solid;
	PADDING: 3px;
	margin: auto; display: block; text-align: center
}
.whitebox {width: 49%; margin-left: 0px; margin-right: 0px; margin-bottom: 10px; margin-top: 20px;}
.left_box {float: left;}
.right_box {float: right;}
.wbl {background: url(../pics/about_corner_bl.png) #ffffff left bottom no-repeat} 
.wbr {background: url(../pics/about_corner_br.png) right bottom no-repeat} 
.wtl {background: url(../pics/about_corner_tl.png) left top no-repeat} 
.wtr {background: url(../pics/about_corner_tr.png) right top no-repeat; padding: 10px} 
.about_tab_content {
	text-align: center;
	height: 300px;
	overflow: auto;
	padding-right: 10px;
}
.about_tab_content P {
	margin: 2px;
	color: #343733;
	text-align: left;
}
.about_tab_content IMG {
	BORDER-BOTTOM: #d0d2ca 1px solid; BORDER-LEFT: #d0d2ca 1px solid; BORDER-TOP: #d0d2ca 1px solid; BORDER-RIGHT: #d0d2ca 1px solid;
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px;
	MARGIN-left: 6px; MARGIN-top: 9px;
}
.facebook_profile {
	PADDING: 0px; MARGIN: 0px; text-align: left;
}
.facebook_profile A {
	BORDER-BOTTOM: #0783b6 1px dotted; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #0783b6; TEXT-DECORATION: none; PADDING-TOP: 0px; line-height: 2.0;
}
.facebook_profile A:hover {
	BORDER-BOTTOM-STYLE: none; COLOR: #099edf; TEXT-DECORATION: none
}
.facebook_profile IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN: 0px; WIDTH: 20px; DISPLAY: block; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 20px; BORDER-LEFT-STYLE: none
}
.ctl {display: table-cell; width: 5px; height: 5px; background: url(../pics/contact_tl.png) #ffffff right bottom no-repeat} 
.ctm {display: table-cell; width: 5px; height: 5px; background: url(../pics/contact_tm.png) #ffffff left bottom no-repeat} 
.ctr {display: table-cell; width: 5px; height: 5px; background: url(../pics/contact_tr.png) #373c35 left bottom no-repeat} 
.cmw {display: table-cell; background-color: #ffffff;}
.cmg {display: table-cell; background-color: #373c35;}
.cbl {display: table-cell; width: 5px; height: 5px; background: url(../pics/contact_c_b.png) #ffffff left top no-repeat} 
.cbm {display: table-cell; width: 5px; height: 5px; background: url(../pics/contact_c_b.png) #ffffff right bottom no-repeat} 
.cbr {display: table-cell; width: 5px; height: 5px; background: url(../pics/contact_br.png) #373c35 left bottom no-repeat} 
.formik {color: #5c6457;}
.formik input {
	border-top: #c4ccbf 1px solid;
	border-bottom: #c4ccbf 1px solid;
	border-left: #c4ccbf 1px solid;
	border-right: #c4ccbf 1px solid;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 7px;
	padding-right: 7px;
	background-color: #eef5de;
	width: 250px;
	color: #5c6457;
	margin: 0.3em 0.5em 0px 0px;
}
#formbutton {
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: url(../pics/btn_submit.png) no-repeat left 0px;
	width: 66px;
	height: 36px;
	color: #6f756a;
	margin: 0px;
	display: block;
	clear: both;
	cursor: pointer;
	text-indent: -9999px;
}
#formbutton:hover { 
	background-position: -66px 0;
}
.formik textarea {
	border-top: #c4ccbf 1px solid;
	border-bottom: #c4ccbf 1px solid;
	border-left: #c4ccbf 1px solid;
	border-right: #c4ccbf 1px solid;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 7px;
	padding-right: 7px;
	background-color: #eef5de;
	width: 410px;
	color: #5c6457;
	margin: 0.3em 0.5em 0px 0px;
	height: 215px;
}
.formik P {color: #cccccc; line-height: normal; margin-top:0px; padding-top: 0px;}
.reflection {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND: url(../pics/about_panel_reflection.png) #222521 no-repeat left top; HEIGHT: 23px
}
.contactbox {width: 85%; margin: auto; margin-bottom: 10px;}
.contact_tab_content {
	text-align: left;
	height: 180px;
	overflow: hidden;
	padding-right: 10px;
	font: 9pt/1.6 "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color: #5c6457;
}
.contact_tab_content P {
	margin: 2px;
	color: #5c6457;
	text-align: left;
}
.contact_tab_content B {
	font: 1.7em/1.2 "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-weight: bold;
}
.contact_tab_content IMG {
	BORDER-BOTTOM: #d0d2ca 1px solid; BORDER-LEFT: #d0d2ca 1px solid; BORDER-TOP: #d0d2ca 1px solid; BORDER-RIGHT: #d0d2ca 1px solid;
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px;
	MARGIN-left: 2px; MARGIN-top: 5px; MARGIN-right: 3px; width: 140px; height: 140px; float: left;
}
.welcome {
	font: 1.2em/1.5 "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}
.welcome i {
	font: italic 1.2em/1.5 Georgia, "Times New Roman", Times, serif;
	color: #e8aab8;
}
.mediabutton {
	width: 49px;
	height: 49px;
	cursor: pointer;
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 6px
}
.facebook {
	background: url(../pics/facebook.jpg) no-repeat left 0px;
}
.rss {
	background: url(../pics/feed.jpg) no-repeat left 0px;
}
.extrnagl {
	font: 19px "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffffff;
}
.extrtekst {
	font: 13px "Century Gothic", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.rss_header {
	font-size: 10px;
	color: red;
}
a.info:hover {
	position: relative;
}
a.info span {
	display: none;
}
a.info:hover span {
	display: block;
   	position: absolute; top: 10px; left: 8px;
	width: 150px;
	/* formatting only styles */
   	padding: 7px; margin: 10px; z-index: 100;
   	background: #333333; border: 0px dotted #c0c0c0;
	opacity: 0.9;
	border-top-left-radius: 0px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	/* end formatting */
	font-size: 0.8em;
	color: #ffffff;
	font-weight: bold;
	line-height: normal;
}
a.info:hover span b {
	font-size: 0.9em;
	color: #D2D6D1;
	font-weight: normal;
	vertical-align: -40%;
}
.accent {
	font: italic 1.1em/1.4 Georgia, "Times New Roman", Times, serif;
	color: #e8aab8;
}
.bottomspacing {
	height: 35px;
}
#extrasdiv a {
	color: #A7c563;
	border-bottom: dotted 1px #a7c563;
}
#extrasdiv a:hover {
	color: #b9d775;
	border-bottom: none;
}